doctype html
html
	head
		meta(charset="utf-8")
		title= title
		link(rel="stylesheet" href="/css/style.css")
		link(rel="stylesheet" href="/css/index.css")
	body
		header
			div(id="head-logo")
				img(src="../image/logo_head.png" alt="るっく＠")
		main
			div
				img(src="/image/logo.png" alt="るっく＠")
			p Office365のアカウントで
				a(href=auth_url) サインイン
		footer
			p OutlookメールROM専クライアント『るっく＠』
			p created by @wassan128
