*::-webkit-scrollbar-track {
	background: rgba(150, 150, 150, 1);
}
*::-webkit-scrollbar-thumb {
	background: rgba(200, 200, 200, 1);
}
header {
	color: #CCC;
	background: rgba(250, 250, 250, 0.8);
}

main {
	color: #DDD;
	background: rgba(0, 0, 12, 0.8);
}
	p#mails-zero {
		color: #AAA;
	}
	div.newmails {
		background: rgba(20, 20, 70, 0.5);
	}
		div.mails:not(:last-child) {
			border-bottom: 1px solid #AAA;
		}
		p.mails-sender {
			color: #EEE;
		}
		span.mails-email {
			color: #666;
		}
		p.mails-date {
			color: #888;
		}
			p.fav {
				color: #ECEF20;
			}
		